body{

    height: 100vh;
    background-image: url("background.webp") ;
    background-size: cover;
}




/* divisions */

.about-me{
    font: size 35px;
    color:rgb(255, 255, 255);
   height:50%;
}
.pictures{
    font: size 35px;
    color:rgb(255, 255, 255);
   height:50%;

}

.left{
   
    width:50%;


}
.right{
    
    display:flex;
    height:100%;
    width: 50%;
    align-items:center;
   
    justify-content:center;
}


.all-page{
    display:flex;
    height:100%;
}

.picturebot-btn{
padding:50px;
background-color:aqua;
transition:background-color 0.7s;
}

.chatbot-btn{
padding:50px;
background-color:aqua;
transition:background-color 0.7s;
}


.books{
    margin:30px;
    width: 250px;
    height: 250px;
}

.hotdog{
    margin: 30px;
    width: 250px;
    height: 250px;
}



.chatbot-btn:hover{
    background-color: rgb(0, 163, 163);
}
  
.picturebot-btn:hover{
    background-color: rgb(0, 163, 163);
}

